* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kdam+Thmor+Pro&family=Shadows+Into+Light&display=swap');

@mixin flex ($d, $j, $t){
    display: $d;
    justify-content: $j;
    text-align: $t;
}

@mixin font($f, $s, $tA) {
    font-family: $f;
    font-size: $s;
    text-align: $tA;
}

.body1 {
    background-image: url(../assets/img/80s.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    @include flex(flex, center, center);
    flex-direction: column;
    .contain {
        @include flex(flex, center, center);
        margin-top: 120px;
        .pasword {
            @include flex(flex, center, center);
            @include font(Kdam Thmor Pro, none, center);
            flex-direction: column;
            border: 5px solid white;
            width: 500px;
            height: 200px;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 0.637);
            padding: 20px;
            margin: 20px;
        }
        .pass {
            height: 20px;
            width: 40px;
        }
    }
    .answer {
        h1 {
            @include font(Kdam Thmor Pro, 50px, center);
            color: white;
            -webkit-text-stroke: 2px deeppink;
        }
    }
}
.valid {
    @include flex(flex, center, center);
    button {
        cursor: pointer;
        height: 40px;
        width: 100px;
    }
}

.carrito {
    @include flex(flex, center, center);
    flex-direction: column;
    .stickers {
        @include flex(flex, center, center);
        flex-direction: row;
        gap: 130px;
        img {
            width: 300px
        }
    }
}

.cantidad {
    @include flex(flex, space-around, center);

}

.body3 {
    background-image: url(../assets/img/bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .cursed {
        @include flex(flex, center, center);
        flex-direction: column;
        margin: 30px;
        h1 {
            @include font(Shadows Into Light, 50px, center);
            color: darkred;
            padding: 20px;
        }
        .img {
            @include flex(flex, center, center);
            img {
                width: 500px;
                cursor: pointer;
            }
        }
    }
    .border {
        outline: 20px solid #811111;
    }
}

.goto {
    @include flex(flex, space-around, end);
    button {
        cursor: pointer;
        height: 40px;
        width: 130px;
    }
}